build/*
cmake/*
lib/*
bin/*
Win32/*
External/*
CMakeCache.txt
CMakeFiles/*
*.vcxproj*
*.opensdf
*.sdf
*.sln
*.suo
LearnOpenGL/CMakeFiles/*
LearnOpenGL/IntroCreateWindow/*
LearnOpenGL/Win32/*
LearnOpenGL/cmake_install.cmake
cmake_install.cmake